<div class="col-md-4 text-center">
  <div class="panel <%= priceboxOpts.cssStyle %>">
    <div class="panel-heading">
      <i class="fa fa-desktop"></i>
      <h3><%= priceboxOpts.title %></h3>
    </div>
    <div class="panel-body text-center">
      <p><strong><%= priceboxOpts.cost %></strong></p>
    </div>
    <ul class="list-group text-center">
      <li class="list-group-item"><i class="fa fa-check"></i><%= priceboxOpts.description %></li>
      <li class="list-group-item"><i class="fa fa-check"></i><%= priceboxOpts.revisions %></li>
      <li class="list-group-item"><i class="fa fa-check"></i> Designed according to your weddincolours theme</li>
    </ul>
    <div class="panel-footer">
      <a class="btn btn-lg btn-block btn-buy" href="contact.html">Select Package</a>
    </div>
  </div>
</div>