<%- include partials/page-start.ejs %>

<div class="intro-text">
  <p>Weddings are a time of joy and cheer, and are a reflection of the people whose lives are about to be built together. We understand this and want to work with you to create snapchat filters for your wedding that represent your message, your life, and most importantly, you.</p>

  <br />
  <p>Our consultants and designers work to determine your theme, and create a filter designed for your wedding in particular. We offer revisions to make sure you are delivered a product catered to you for your special day.</p>
</div>

<% var fancyTitleContent= 'Step 1. Choose Your Wedding Style'; %>
<%- include partials/fancy-title.ejs %>

<div class="row">
  <% var filterImageTitle= 'Simple & Elegant'; %>
  <%- include partials/filter-image.ejs %>

  <% var filterImageTitle= 'Black & White Affair'; %>
  <%- include partials/filter-image.ejs %>

  <% var filterImageTitle= 'Luxury & Wine'; %>
  <%- include partials/filter-image.ejs %>
</div>

<%- include partials/page-end.ejs %>